@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, its site to contain you sheets</h1>
    <a asp-area="" class="btn btn-outline-success btn-lg" role="button" asp-controller="MainSheet" asp-action="Index">To my sheets</a>
</div>
